<section class="tab picker-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <div class="standard-form scrollable">
    {{#each types as |type|}}
    <fieldset>
      <legend>{{type.label}}</legend>
      <div class="form-group">
        <div class="form-fields">
          <multi-select name="{{../tab.id}}.{{type.id}}">
            {{selectOptions type.list valueAttr="id" labelAttr="name"}}
          </multi-select>
        </div>
      </div>
    </fieldset>
    {{else}}
    <p><i class="fa-solid fa-circle-info"></i> {{localize emptyLabel}}</p>
    {{/each}}
  </div>
</section>
